html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(97%) sepia(57%)
        saturate(238%) hue-rotate(282deg) brightness(112%) contrast(100%);

    --header-bg-color: #171c28;
    --top-action-group-bg: #292e39;
    --top-action-group-shadow: rgba(0, 0, 0, 0.2);
    --top-action-group-separate: #ededf6;
}
