@use "../abstracts";

.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 55px;

    padding: 30px 0;
    border-radius: 20px;

    background: var(--filter-form-bg);
    filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));
    transition: opacity, visibility;
    transition-duration: 0.2s;

    @include abstracts.screen(sm) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
        border-radius: 0;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &__arrow {
        position: absolute;
        top: -15px;
        right: 25px;
        height: 20.5px;
        filter: var(--filter-form-arrow);
    }

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__row {
        display: flex;
    }

    &__separate {
        width: 1px;
        background: #eee;
        margin: 0 30px;

        @include abstracts.screen(xl) {
            width: 100%;
            height: 1px;
            margin: 30px 0;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;

        @include abstracts.screen(sm) {
            position: sticky;
            bottom: 30px;
            background: var(--filter-form-bg);
        }
    }

    &__cancel,
    &__submit {
        height: 38px;
        padding: 0 10x;

        @include abstracts.screen(sm) {
            flex: 1;
            height: 42px;
        }
    }

    &__cancel {
        font-style: 1.5rem;
    }

    &__submit {
        font-style: 1.4rem;
    }

    &__heading,
    &__content,
    &__footer {
        padding: 0 30px;
    }

    &__content {
        max-height: calc(100vh - 350px);
        overflow-y: auto;
        overscroll-behavior: contain;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(sm) {
            max-height: calc(100vh - 230px);
            padding-bottom: 60px;
        }
    }
}
