<div class="container">
    <h2 class="footer__title">Subscribe For Latest Updates</h2>
    <div class="footer__form">
        <input type="text" name="" id="" class="footer__form--input" placeholder="Your Email Address" />
        <button class="btn btn--primary footer__form--submit">Subscribe</button>
    </div>

    <div class="footer__group">
        <div class="footer__row">
            <!-- Footer column 1 -->
            <div class="footer__col">
                <a href="./" class="logo footer__logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img footer__logo--img" />
                    <h1 class="logo__title footer__logo--title">grocerymart</h1>
                </a>
                <div class="footer__paragraph">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sequi et quo sunt, assumenda cumque
                    odit quam porro ipsam tempora libero ipsum, dignissimos nihil nobis alias eos. Nihil, corrupti
                    dolor!
                </div>

                <div class="footer__socails">
                    <!-- Item 1 -->
                    <a href="#!" class="footer__social-link footer__social-link--facebook">
                        <img src="./assets/icons/facebook.svg" alt="" class="footer__item-icon" />
                    </a>

                    <!-- Item 2 -->
                    <a href="#!" class="footer__social-link footer__social-link--twitter">
                        <img src="./assets/icons/twitter.svg" alt="" class="footer__item-icon" />
                    </a>

                    <!-- Item 3 -->
                    <a href="#!" class="footer__social-link footer__social-link--youtube">
                        <img src="./assets/icons/youtube.svg" alt="" class="footer__item-icon" />
                    </a>

                    <!-- Item 4 -->
                    <a href="#!" class="footer__social-link footer__social-link--instagram">
                        <img src="./assets/icons/instagram.svg" alt="" class="footer__item-icon" />
                    </a>

                    <!-- Item 5 -->
                    <a href="#!" class="footer__social-link footer__social-link--linkedin">
                        <img src="./assets/icons/linkedin.svg" alt="" class="footer__item-icon" />
                    </a>
                </div>
            </div>

            <!-- Footer column 2 -->
            <div class="footer__col">
                <h3 class="footer__heading">Shop</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">All Departments</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Browse Categories</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Wearable Technology</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Savings</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Beauty Bargain</a>
                    </li>
                </ul>
            </div>

            <!-- Footer column 3 -->
            <div class="footer__col">
                <h3 class="footer__heading">Support</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Account</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Service</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Oder</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Product</a>
                    </li>
                </ul>
            </div>

            <!-- Footer column 4 -->
            <div class="footer__col">
                <h3 class="footer__heading">Contact</h3>
                <ul class="footer__list">
                    <li>
                        <p class="footer__label">Address</p>
                        <p class="footer__text footer__text--special">2/45 Tower Street, New York, USA</p>
                    </li>
                    <li>
                        <p class="footer__label footer__label--phone">Hotline</p>
                        <a href="tel:+18008855" class="footer__text"> 18008855 </a>
                    </li>
                    <li>
                        <p class="footer__label footer__label--mail">Email</p>
                        <a href="mailto:contact@grocerymart.com" class="footer__text">Contact@grocerymart.com </a>
                    </li>
                    <li>
                        <p class="footer__label">Hours</p>
                        <p class="footer__text footer__text--special">M - F 08:00am - 06:00pm</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <p class="footer__copyright">© 2010 - 2025. Grocery Mart. All right reversed.</p>
    </div>
</div>
